/* .c1 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

p {
  color: red;
} */

/* [class] {
  color: aqua;
}

[class][id] {
  color: pink;
} */

/* 标签选择符需要写在前面
  p[class] 正确
  [class]p 错误
*/
/* p[class] {
  color: red;
} */

/* p[class='c2'] {
  color: palevioletred;
} */


/* |= */
/* p[lang|=en] {
  color: blueviolet;
} */

/* ~= */
/* p[class~=user] {
   color: blueviolet;
} */

/* *= */
/* p[class*=user] {
  color: blueviolet;
} */

/* ^= */
/* p[class^=user] {
  color: blueviolet;
} */


/* $= */
/* p[class$='user'] {
  color: blueviolet;
} */

/* 加上i，可以使属性值忽略大小写 */
/* p[class*='user' i] {
  color: blueviolet
} */


/* p + p {
  color: blueviolet;
} */


/* 选中em元素为p元素后的兄弟元素(em不能在p元素之前) */
/* p ~ em {
  color: blueviolet;
} */

/* a:link {
  color: aqua;
}
a:visited {
  color: coral;
}
a:active {
  color: blue;
} */

/* 在html中指html元素 */
/* :root {
  border: 2px solid red;
} */

/* img {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
}

p:empty {
  border: 2px solid brown;
}

img:only-child {
  border: 1px solid red;
}

a img:only-of-type {
  border: 1px solid red;
} */



/* first-of-type */
.wrap span:first-of-type {
  color: red;
}

.wrap span:last-of-type {
  color: brown;
}


.wrap2 {
  width: 412px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.wrap2 div {
  background-color: aqua;
  width: 200px;
  height: 200px;
}

.wrap2 div:last-child:nth-child(odd) {
  width: 100%;
}


.wrap3 {
  width: 412px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.wrap3 div {
  background-color: aqua;
  width: 198px;
  height: 198px;
  border: 1px solid brown;
  box-sizing: border-box;
}

/* 只有1个项目 */
.wrap3 div:only-child {
  width: 100%;
}

/* 只有2个项目 */
.wrap3 div:nth-child(1):nth-last-child(2),
.wrap3 div:nth-child(2):nth-last-child(1) {
  width: 50%;
}

/* 只有3个项目 */
.wrap3 div:nth-child(1):nth-last-child(3),
.wrap3 div:nth-child(1):nth-last-child(3)~div {
  width: 33.3%;
}

/* 只有4个项目 */
.wrap3 div:nth-child(1):nth-last-child(4),
.wrap3 div:nth-child(1):nth-last-child(4)~div {
  width: 25%;
}

/* 验证未通过 */
/* input的type为number, 在min和max内,但是和step不匹配,也视为验证不通过 */
.wrap4 input:invalid {
  color: red;
}
/* 在范围内,一般是input的type为number, 在min和max内 */
.wrap4 input:in-range {
  color: blue;
}

p:target {
  font-weight: bold;
  color: red;
}

.wrap4 {
  width: 200;
}
.wrap4 p:first-child::first-letter {
  font-size: 200%;
  font-style: italic;
}

.wrap4 p:nth-child(2)::first-line {
  color: red;
}

.wrap5 {
  margin-top: 40px;
}

.wrap5 a:visited {
  color: red;
}
.wrap5 a:link {
  color: pink;
}
.wrap5 a:active {
  color: yellow;
}